

body {
  color: red;
  font-family: 'Holtwood One SC', serif;
  background-size: cover;
}

.column {
  margin: 10px;
  border-style: solid;
  border-color: red;
  border-width: 5px;
}

.jumbotron {
  opacity: 0.5;
  text-shadow: .05;
}
